h1 {
  font-size: 28px;
  line-height: 28px;
  color: #272142;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
  padding: 0;
  font-size: 16px;
  color: #6e6969;
  line-height: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.outer-wrapper {
  max-width: 650px;
  margin: 30px auto;
}
.app-wrapping {
  border-radius: 10px;
  border: 1px solid #dadde1;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  padding: 60px 20px 20px 20px;
  margin-bottom: 0;
  background: #ccf9ff;
}

.search-engine-row {
  margin-bottom: 25px;
}
.description {
  text-transform: capitalize;
}
.weather-condition {
  color: #ff5722;
}
.d-flex {
  justify-content: flex-end;
}
.current-temperature {
  font-size: 68px;
  color: #272142;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}
.temperature-units {
  position: relative;
  top: 20px;
  font-family: "Roboto", sans-serif;
}

.forecast-row {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 25px;
  color: #6e6969;
}
.forecast-max {
  color: #ff5722;
  font-size: 14px;
}
.forecast-min {
  color: #ff5722;
  opacity: 0.6;
  font-size: 14px;
}
.coder {
  text-decoration: none;
}
