h1 {
  font-size: 28px;
  line-height: 28px;
  color: #272142;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
  padding: 0;
  font-size: 16px;
  color: #6e6969;
  line-height: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.outer-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.app-wrapping {
  border-radius: 10px;
  border: 1px solid #dadde1;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  padding: 20px;
  margin-bottom: 0;
}

.search-engine-row {
  margin-bottom: 25px;
}

.weather-condition {
  color: #ff876d;
}
.d-flex {
  justify-content: flex-end;
}
.current-temperature {
  font-size: 68px;
  color: #272142;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}
.temperature-units {
  position: relative;
  top: 20px;
  font-family: "Roboto", sans-serif;
}
.coder {
  text-decoration: none;
}
